@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Inter:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap');
/* 작문 구역 */
.write-background {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(228, 235, 255);
}
.question-background {
  width: 94vw;
  height: 90vh;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
}
.question-arrowButtons {
  display: flex;
  position: relative;
  gap: 80vw;
}
.question-arrowButtons svg {
  cursor: pointer;
}
.question-homeButton {
  position: absolute;
  bottom: 83vh;
  background-color: white;
  border-radius: 10px;
  padding: 0.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}
.question-homeButton:hover {
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 4px 2px rgba(0, 0, 0, 0.22);
}
.question-sentence {
  position: relative;
  bottom: 25vh;
}
.question-sentenceKor {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-size: 4vh;
}
.answer-sentence {
  position: relative;
  bottom: 10vh;
  display: flex;
  flex-direction: row;
}
.answer-sentenceWord {
  width: 5vw;
  height: 3vh;
  border-bottom: 2px solid black;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.choice-sentence {
  position: absolute;
  top: 52vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 25vh;
  width: 50vw;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.choice-sentenceWord {
  border-radius: 5px;
  font-family: 'Anek Devanagari', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 3vh;
  height: 4.2vh;
  padding-left: 0.6vw;
  padding-right: 0.6vw;
  margin-left: 0.3vw;
  margin-right: 0.3vw;
  background-color: rgb(241, 244, 251);
  color: rgb(75, 82, 103);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.choice-sentenceWord:hover {
  background-color: rgb(230, 234, 248);
  color: rgb(86, 99, 134);
}
/* 단어 한번 클릭했을 때 적용할 스타일 */
.choice-sentenceWord.active {
  background-color: rgb(27, 76, 255);
  color: rgb(242, 246, 255);
}
